html
{
	min-height: 100%;
}

body
{
	background-color: #041c44;
	background-image: linear-gradient(#000000, #041c44);
	background-repeat: repeat-x;
	background-size: 100% 600px;
	color: #041c44;
	font-family: Roboto, sans-serif;
	font-size: 14px;
}

@keyframes descend
{
	0%
	{
		position: relative;
		top: -0.4em;
		opacity: 0.0;
	}

	100%
	{
		position: relative;
		top: 0px;
		opacity: 1.0;
	}
}

.sd--logo
{
	animation: descend 1.6s ease-in-out;
	color: white;
	font-family: Comfortaa, sans-serif;
	font-size: 5em;
	font-weight: normal;
	letter-spacing: 0.5em;
	margin: 0.75em 0 0.75em 0.5em;
	text-align: center;
	text-transform: lowercase;
}

.sd--intro
{
	background: #edf3ff;
	border-radius: 4px;
	display: grid;
	grid-auto-columns: 1fr;
	grid-column-gap: 1.4em;
	margin: 0 auto 1.4em auto;
	padding: 1.4em;
	width: 50em;
}

.sd--intro > h2
{
	font-size: 2em;
	font-weight: bold;
	grid-column: 1 / span 2;
	grid-row: 1 / span 1;
	text-align: center;
}

.sd--intro > .-highlights
{
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;
}

.sd--intro > .-highlights > p
{
	line-height: 1.4em;
	margin-top: 1.4em;
	text-align: justify;
}

.sd--intro > .-example
{
	grid-column: 2 / span 1;
	grid-row: 2 / span 1;
}

.sd--intro > .-example > pre
{
	font-family: monospace;
	line-height: 1.4em;
	margin-top: 1.4em;
}
